<div class="example-container">
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/IslandofIreland.png" alt="The Island of Irelane Thumbnail">
        <div class="img-overlay">
            <div class="overlay-text"><a class="example-link"
                    href="https://paidpost.newyorker.com/article/irelandsvoices/">Test</a></div>
        </div>
    </div>
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/Conan.png" alt="Conan Thumbnail">
        <div class="img-overlay">
            <div class="overlay-text"><a class="example-link"
                    href="https://www.youtube.com/watch?v=YV9EbYpXfZs">Test</a></div>
        </div>
    </div>
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/TourismIreland_Thumbnail.png" alt="Tourism of Ireland Thumbnail">
        <div class="img-overlay">
            <div class="overlay-text"><a class="example-link" href="../../assets/TourismIreland.pdf" download>Test</a>
            </div>
        </div>
    </div>
</div>