.example-container{
    margin: 15px;
}

.img-container{
    object-fit: contain;
    background-color: crimson;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.img-example{
    width: 90%;
    height: 90%;
    padding: 10px;
}

@media only screen and (min-width: 768px){

    .example-container{
        display: flex;
        justify-content: space-between;
    }

    .img-example{
        min-width: 350px;
        
    }

}