.example-container{
    margin: 15px;
}

.img-container{
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.img-example{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #008CBA;
  border-radius: 10px;
}

  .img-container:hover .img-overlay {
    opacity: .7;
    cursor: pointer;
  }

  .overlay-text{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .example-link{
      color: white;
  }



/* .img-example:hover{
    opacity: 0.5;
    cursor: pointer;
} */

@media only screen and (min-width: 768px){

    .example-container{
        display: flex;
        justify-content: space-between;
    }

    .img-container{
        margin: 10px;
        flex: 1;
    }

}