<div class="example-container">
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/IslandofIreland.png" alt="The Island of Ireland Thumbnail">
        <div class="img-overlay" (click)="islandLink()">
            <div class="overlay-text">Island of Ireland</div>
        </div>
    </div>
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/Conan.png" alt="Conan Thumbnail">
        <div class="img-overlay" (click)="conanLink()">
            <div class="overlay-text">Conan Show</div>
        </div>
    </div>
    <div class="img-container shadow">
        <img class="img-example" src="../../assets/TourismIreland_Thumbnail.png" alt="Tourism of Ireland Thumbnail">
        <div class="img-overlay" (click)="irelandLink()">
            <div class="overlay-text">Tourism Ireland</div>
        </div>
    </div>
</div>