<div class="about-container">
    <img class="headshot shadow" src="../../assets/jg_headshot.JPG" alt="Jennie Headshot">
    <div class="about-content">
        <h2 class="about-header">About Jennie</h2>
        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aliquam necessitatibus quidem eveniet rerum at omnis adipisci
            autem quod tempora debitis quos sit corporis nisi eos similique,
            dolores saepe voluptate sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto sequi laudantium soluta reprehenderit, in distinctio
            consequatur iste natus rerum, facere architecto dicta incidunt numquam,
            aliquid debitis praesentium optio autem error!</p>
        <div class="icon-container">
            <div class="icon-rowone">
                <i class="icon fab fa-linkedin shadow"><a href="https://www.linkedin.com/in/jennie-gilman-31093051/">
                        LinkedIn</a></i>
                <i class="icon fab fa-instagram shadow"><a href="https://www.instagram.com/jenniegilman/">
                        Instagram</a></i>
            </div>
            <div class="icon-rowtwo">
                <i class="icon fas fa-file-download shadow"><a href="../../assets/resume.pdf" download> Resume</a></i>
                <i class="icon far fa-copy shadow"><a href=""> Email</a></i>
            </div>
        </div>

    </div>
</div>