.about-container{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.headshot{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.about-content{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.about{
    margin-top: 15px;
}

.icon-container{
    display: flex;
    flex-direction: column;
}

.icon-rowone{
    display: flex;
    flex-direction: column;
}

.icon-rowtwo{
    display: flex;
    flex-direction: column;
}
.icon {
    font-size: 2rem;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (min-width: 768px){

.about-container{
    display: flex;
    flex-direction: row;
    }

    .headshot{
        width: 50%;
        height: auto;
    }

    .about-content{
        justify-content: space-between;
        margin: 0 10px;
    }

    .about-header{
        padding-top: 10px;
    }

    .about{
        margin-top: 0;
    }

    .icon-container{
        flex-direction: row;
    }

    .icon-rowone{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .icon-rowtwo{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

   .icon{
       margin: 5px;
       padding: 5px;
   }

    
}