<div class="resume-container">
    <div class="skills-container">
        <div class="header-container">
            <h2>Skills</h2>
        </div>
        <div class="resume-content content-container">
            <p class="content">Keynote, GSuite, Mailchimp, SHOPS, Deal Builder, Gabriel, Gemini</p>
        </div>
    </div>
    <div class="experience-container">
        <div class="header-container">
            <h2>Experience</h2>
        </div>
        <div class="resume-content content-container">
            <h3 class="content">Conde Nast</h3>
            <p class="content">Manager, Brand Marketing | Travel Category</p>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Unde recusandae deleniti incidunt cum, laudantium magni vitae voluptas nostrum nam provident?
                Ea odio explicabo vero animi illum, dolores debitis obcaecati ipsa.</p>
            <h3 class="content">Warner Media</h3>
            <p class="content">Coordinator, Integrated Marketing (TBS and TNT)</p>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati voluptatem
                libero vel minus harum incidunt perferendis, at dolores
                odio nulla dolore amet vitae reiciendis tempore id dolor aperiam inventore.</p>
            <h3 class="content">Discovery Inc.</h3>
            <p class="content">Ad Sales Assistant, Direct Response</p>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati voluptatem
                libero vel minus harum incidunt perferendis, at dolores
                odio nulla dolore amet vitae reiciendis tempore id dolor aperiam inventore.</p>
        </div>
    </div>
    <div class="education-container">
        <div class="header-container">
            <h2>Education</h2>
        </div>
        <div class="resume-content content-container">
            <h3 class="content">Gettysburg College</h3>
            <p class="content">Bachelors of Arts | Major: Sociology and Education</p>
        </div>

    </div>
</div>