/* You can add global styles to this file, and also import other style files */

body{
    background-color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    color: #000066;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


.shadow{
    box-shadow: 0 2px 6px 1px rgba(149,148,148,0.50);
}


